<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="stylesheet" href="">
</head>

<body
    style="font-family: 'Rubik', sans-serif; margin: 0px;padding-top: 0;padding-bottom: 0;padding-top: 0;padding-bottom: 0;background-color: #f1f1f1;background-repeat: repeat;width: 100% !important;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;-webkit-font-smoothing: antialiased;">
    <style type="text/css">
        @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
    </style>
    <table style="max-width: 600px; width: 600px; margin: 0px auto;" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td style="padding-top: 50px; padding-bottom: 50px;">
                    <table width="100%" height="100%" cellpadding="0" cellspacing="0" align="left">
                        <tbody>
                            <tr>
                                <td style="padding: 0; background-color: #fff; border-radius: 10px;">
                                    <table style="width: 100%;" cellpadding="0" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td align="center">
                                                        <tr>
                                                            <td align="center"
                                                                style="padding: 25px 20px; border-radius: 10px;">
                                                                <img src="<%- logo %>" alt="" style="width: 201px; height: 87px;">
                                                            </td>
                                                        </tr>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 0px 50px;">
                                                    <table style="width: 100%;" cellpadding="0" cellspacing="0">
                                                        <tr>
                                                            <td style="padding-bottom: 20px;">
                                                                <h1
                                                                    style="font-size: 20px; font-weight: 600; color: #000000; margin: 0; margin-bottom: 30px; font-family: 'Rubik', sans-serif; text-align: center;">
                                                                    Email Verification</h1>
                                                                <p
                                                                    style="font-family: 'Rubik', sans-serif;font-size: 14px; font-weight: 400; line-height: 20px; color: #637b96; margin: 0; letter-spacing: 0.5px; line-height: 24px; ">
                                                                    Dear, <b
                                                                        style="font-family: 'Rubik', sans-serif; font-size: 14px; font-weight: 600; color: #333333;"><%-
                                                                            name%></b>.
                                                                </p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding-bottom: 20px;">
                                                                <p
                                                                    style="font-family: 'Rubik', sans-serif;font-size: 14px; font-weight: 400; line-height: 20px; color: #637b96; margin: 0; letter-spacing: 0.5px; line-height: 24px; ">
                                                                    Thank you for signing up to WhiteTail. We're
                                                                    thrilled to have you as a new partner at our
                                                                    platform. To activate your account, please follow
                                                                    the steps below and enter the verification code
                                                                    provided:</p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding-bottom: 20px;">
                                                                Use the following verification code: <b><%- otp %></b>
                                                            </td>
                                                        </tr>
                                                       
                                                        <tr>
                                                            <td style="padding-bottom: 20px;">
                                                                <p
                                                                    style="font-family: 'Rubik', sans-serif;font-size: 14px; font-weight: 400; line-height: 20px; color: #637b96; margin: 0; letter-spacing: 0.5px; line-height: 24px; ">
                                                                    Ensure the accuracy of the verification code to
                                                                    complete the activation process successfully.
                                                                </p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding-bottom: 50px;">
                                                                <br>
                                                                <div
                                                                    style="font-size: 14px; font-family: 'Rubik', sans-serif; font-weight: 400; line-height: 20px; color: #637b96;margin: 0; letter-spacing: 0.5px; line-height: 24px;">
                                                                    <span
                                                                        style="clear: both; margin: 0px; padding: 0px; outline: none; display: block; font-weight: 400;">
                                                                        Regards,
                                                                    </span>WhiteTail Team
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>