<html>
<head>
	<% if(isiOS) {%>
		<meta http-equiv="refresh" content="0;url=itms-apps://apps.apple.com/us/app/whitetail-tactical-deer-optics/id6467631622" />
	<% } else { %>
		<meta http-equiv="refresh" content="0;url=intent:#Intent;scheme=app://whitetail-tactical.com/post?post_id=<%= code %>;package=com.whitetailtactical;end" />
	<% } %>
</head>

<body></body>

</html>